body{
background:#98C8FA;
  color:#333;
  width:100%;
  font-family:sans-serif;
  margin:0 auto;
}

.header{
  width:90%;
  margin:auto;
  heigth:120px;
  line-height:120px;
  background:#417aa8;
  color:#fff;
}

.jarak{
  padding:0pc;
}

.menu{
  background-color:#417aa8;
  height:50px;
  position:relative;
  widht:90%;
  marguin:0 auto;
  padding:0 auto;
}

.menu ul {
  list-style:none;
}

.menu ul li a {
  float:left;
  widht:70px;
  display:block;
  text-align:center;
  color:#fff;
  text-decoration:none;
}






