body{
background:blue;
  color:#333;
  width:100%;
  font-family:sans-serif;
  margin:0 auto;
}

.header{
  width:90%;
  margin:auto;
  heigth:120px;
  line-heigth:120px;
  background:#417aa8;
  color:#fff;
}




